.diamond{
    clip-path: polygon(50% 2px, calc(100% - 2px) 50%, 50% calc(100% - 2px), 2px 50%);
    @apply .block .bg-blue-darkest .relative .border .border-teal .border-solid
}
.diamond-border{
    @apply .block .relative
}
.diamond-border::before{
    content: "";
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    @apply .bg-teal .absolute .pin
}


.share{
    perspective: 1000;
}
.share div{
    transition: all .5s ease;
}
.share:hover div{
    transform: rotateY(180deg);
}
.share-hover{
    @apply .z-0
}
.share:hover div .share-hover{
    @apply .z-20
}


.button{
    @apply .font-semibold .leading-none .text-sm .inline-block .bg-teal-darker .no-underline .p-85 .mx-auto .my-8 .text-grey-light .uppercase
}
.button:hover{
    background: lighten(#247c79,10%);
}


.menu{
    @apply .block .w-64 .mx-auto
}
.menu ul {
    @apply .list-reset
}
.menu ul li a{
    @apply .block .leading-normal .text-base
}
.menu ul li a:hover{
    @apply .text-white
}
.menu ul li a.active,.menu ul li a.active:hover {
    @apply .text-teal-light
}


.pagination{
    @apply .flex .justify-center .pb-8
}

.pagination a{
    @apply .block .leading-normal .text-base .underline
}

.pagination a:hover{
    @apply .text-white .no-underline
}

.pagination li{
    @apply .w-32
    }

.pagination .disabled{
    @apply .hidden
}

.wish-hover{
    transition: all 0.5s ease;
    transform: scale(0);
    clip-path: polygon(50% 2px, calc(100% - 2px) 50%, 50% calc(100% - 2px), 2px 50%);
    background: #43cfcc;
    background: rgba(67, 207, 204, 0.7);
    @apply .absolute .pin .w-48 .h-48 .m-auto .flex .opacity-0
}

a:hover .wish-hover{
    transform: scale(1);
    @apply .opacity-100
}

.inputfield{
    border-top-color: #011937;
    @apply .my-2 .w-full .bg-transparent .border-b .text-grey-lighter .border-t
}

.inputfield:focus{
    outline: transparent;
    @apply .border-b-2 .border-t-0
}


p{
    color: #adabab;
}