@import "custom_fonts";
@import "colors";
// assets location
$assets: "/img/";

// fonts
$body-font: Helvetica, Arial, sans-serif;

// colors - brand

$bg-blue-dark: #011937;

$border-blue: #43cfcc;
$text-highlight-blue: #3dbfbb;
$nav-active-blue: #48e0db;
$btn-bg-blue: #247c79;

$text-white: #c2c1c1;



//$brand-primary: $neutral-10;
//$brand-primary-contrast: $neutral-0;
//
//$brand-secondary: $neutral-0;
//$brand-secondary-contrast: $neutral-10;
//
//$brand-tertiary: $neutral-0;
//$brand-tertiary-contrast: $neutral-0;
//
//$band-negative-validation: #A00;
//$band-positive-validation: #64AA00;




//		#011937 algemene donker blauwe kleur
//
//
//		#43cfcc  kleur randen,
//
//		#3dbfbb  highlight ("dove") in tekst
//
//		#48e0db  extra fel voor nav
//
//		#247c79  donkerder voor buttons
//
//
//		#c2c1c1  tekst niet gehighlight