.down-5{
    top: 5px;
}
.down-10{
    top: 10px;
}
.down-15{
    top: 15px;
}
.down-20{
    top: 20px;
}
.down-25{
    top: 25px;
}
.down-30{
    top: 30px;
}

.up-5{
    bottom: 5px;
}
.up-10{
    bottom: 10px;
}
.up-15{
    bottom: 15px;
}
.up-20{
    bottom: 20px;
}
.up-25{
    bottom: 25px;
}
.up-30{
    bottom: 30px;
}
